@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet');

#view{
  padding-left: 35%;
  padding-top:15px;
  font-family: 'Mansalva', cursive;
  font-weight:bold;
  font-size:20%;
  
}

h2{
  font-family:  'Mansalva', cursive;
  text-decoration: underline;
  font-weight: bold;
}

h4{
  text-decoration: underline;
  font-family: 'Katibeh', cursive;
  font-weight: bold;
  font-size:35px;
}