@import "~bootstrap/dist/css/bootstrap.css";



body{
    background-image:url("https://pikwizard.com/photos/0dd1470c67d266562ac5a47f29a7ba4f-m.jpg");
background-size: cover;
background-repeat: no-repeat;
color: white;
background-attachment: fixed;

}
.overlay{
    z-index: 2;
    background-image: url("https://pikwizard.com/photos/0dd1470c67d266562ac5a47f29a7ba4f-m.jpg");
}
.card{
    background-color:white;
    color:black;
    height:90%;
}



